* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-content-primary: #fff;
  --color-content-secondary: #98959d;
  --color-content-tertiary: #666;
  --color-content-brand: #9282fa;

  --color-background-primary: #151515;
  --color-background-secondary: #1e1e1e;
  --color-background-tertiary: #23242c;
  --color-background-brand: #9282fa;
  --color-background-highlights: #bdb4fa;

  --color-border-primary: #3e3c41;
  --color-border-secondary: #86818c;
  --color-border-brand: #9282fa;
  --color-border-divisor: #353339;

  --color-accent-blue: #027df0;
  --color-accent-blue-light: #16487a;
  --color-accent-yellow: #f0dc02;
  --color-accent-yellow-light: #756e1b;
  --color-accent-orange: #f09102;
  --color-accent-orange-light: #75501b;

  --font-family-title: "Inter Tight", sans-serif;
  --font-title: 700 1.5rem/2rem var(--font-family-title);

  --font-family-default: "Inter", sans-serif;
  --font-paragraph-medium: 500 0.875rem/1.5rem var(--font-family-default);
  --font-paragraph-small: 500 0.75rem/1rem var(--font-family-default);
  --font-label-large: 700 1rem/1.5rem var(--font-family-default);
  --font-label-medium: 700 0.875rem/1.5rem var(--font-family-default);
  --font-label-small: 700 0.75rem/1rem var(--font-family-default);
  --font-link: 500 0.75rem/1rem var(--font-family-default);
  --font-placeholder: 400 1rem/1.5rem var(--font-family-default);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: #14151d;
  color: var(--color-content-primary);
}

.container {
  max-width: 85.375rem;
  margin: auto;
}

#logo {
  background-color: #2e2c30;
  display: inline-block;
  padding-block: 0.75rem;
  padding-inline: 1.25rem;
  border-bottom-right-radius: 0.75rem;
  position: absolute;
}

.hiding {
  display: none !important;
}
