/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font: 400 1rem / normal var(--font-family-default);
  border: solid 1px var(--color-border-primary);
  border-radius: 0.5rem;
  padding-left: 1.5rem;

  &:has(select.calendar) {
    background: url(../../assets/calendar.svg) no-repeat 8%;
  }
  &:has(select.clock) {
    background: url(../../assets/clock.svg) no-repeat 8%;
  }
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  color: var(--color-content-secondary);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 43%;
  right: 8%;
  width: 0;
  height: 0;
  border: 0.375rem solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 33%;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  user-select: none;
}

.select-items div {
  border-radius: 0.5rem;
}

/*style items (options):*/
.select-items {
  position: absolute;
  border: solid 1px var(--color-border-primary);
  border-radius: 0.5rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--color-border-primary);
  border-radius: 0.4rem;
}
